@import "../mixin";

* {
    font-family: sans-serif;
}

// 체크박스 스위치
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox']{
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #275EFE;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }
        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }
        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;
            &:checked {
            --b: var(--disabled-inner);
            --bc: var(--border);
            }
            & + label {
            cursor: not-allowed;
            }
        }
        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                --bc: var(--border-hover);
                }
            }
        }
        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }
        &:not(.reservation_switch) {
        width: 21px;
            &:after {
                opacity: var(--o, 0);
            }
            &:checked {
                --o: 1;
            }
        }   
        & + label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    input[type='checkbox'] {
        &:not(.reservation_switch) {
            border-radius: 7px;
            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }
            &:checked {
                --r: 43deg;
            }
        }
        &.reservation_switch {
            width: 38px;
            border-radius: 11px;
            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }
            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }
            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: .6;
                    }
                }
            }
        }
    }
    input[type='radio'] {
        border-radius: 50%;
        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, .7));
        }
        &:checked {
            --s: .5;
        }
    }
}

// 달력 어딜 클릭해도 적용되게
input[type="date"] {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
::-webkit-calendar-picker-indicator {
    position: absolute;
    right: -10px;
    top: 0px;
    padding-left: 3000px;
    height: 100%;
    opacity: 0;
}
::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

// input date플레이스홀더
input[type="date"]:not(.has-value):before{
    color: rgb(164, 164, 164);
    content: attr(placeholder);
}

.reservation_custom_box .reservation_custom_sec_box {
    position: relative;
}

.reservation_custom_box .reservation_custom_sec_box input {
    height: 50px;
    width: 100%;
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    border: 1px solid #ededed;
    border-radius: 5px;
    outline: none;
    background: transparent;
}
.reservation_custom_box .reservation_custom_sec_box label {
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 16px;
    color: #a5a5a5;
    pointer-events: none;
    transition: .5s;
}

.reservation_custom_box .reservation_custom_sec_box input:focus ~ label,
.reservation_custom_box .reservation_custom_sec_box input:valid ~ label {
    top: -10px;
    left: 5px;
    color: #a5a5a5;
    font-size: 12px;
    background-color: #fff;
}
.reservation_custom_sec_box input:not(:focus)::placeholder{
    opacity: 0;
}


// 헤더파트
.reservation_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    width: 100%;
}
.reservation_header_box{
    width: 100px;
    text-align: center;
}
.reservation_header_box span{
    font-weight: bold;
    font-size: 15px;
}
.reservation_header_ball_1,.reservation_header_ball_2{
    line-height: 60px;
    height: 60px;
    width: 60px;
    font-size: 35px;
    border-radius: 100%;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
    box-shadow: 0 10px 15px -4px rgba(125, 125, 125, 0.4784313725);
}
.reservation_header_ball_1{
    background-color: #0B4AFF;
}   
.reservation_header_ball_2{
    background-color: #C5DFFF;
}
.reservation_progress_box{
    padding-top: 67px;
    margin: 0 auto;
    padding-bottom: 70px;
}
.reservation_progress_blue{
    background-color: #084AFF;
}
.reservation_progress_gray{
    background-color: $layout-background-color;
}

// 바디파트
.reservation_body{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}
.reservation_title_1{
    font-size: 40px;
    font-weight: bold;
}
.reservation_title_2{
    font-size: 30px;
    font-weight: bold;
    padding: 50px 0 20px 0;
}
.reservation_title_3{
    font-size: 25px;
    font-weight: bold;
    padding: 50px 0 20px 0;
}
.reservation_title_4{
    font-size: 15px;
    font-weight: bold;
}
.reservation_to_tiket_title{
    display: flex;
    align-items: center;
}
.reservation_to_tiket_title div:nth-child(1){
    font-size: 17px;
    padding: 4px 7px;
    background-color: $logo-one-main-color;
    color: #fff;
    font-weight:800;
    border-radius: 20px;
    margin-left: 5px;
}
.reservation_to_tiket_title div:nth-child(2){
    margin-left: 5px;
    padding: 0px 10px;
    border-right: 2px solid #ededed;
}
.reservation_to_tiket_title div:nth-child(3){
    padding: 0px 10px;
}
.reservation_to_tiket_info{
    display: flex;
    padding: 20px 0px;
}
.reservation_to_tiket_time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}
.reservation_to_tiket_time div{
    font-size: 20px;
    font-weight: 900;
    width: 60px;
}
.reservation_to_tiket_time_type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    border-left: 5px solid #ededed;
    margin: 10px 0px;
}
.reservation_to_tiket_time_type div:nth-child(1),
.reservation_to_tiket_time_type div:nth-child(3){
    font-weight: 900;
}
.reservation_to_tiket_time_type div:nth-child(2){
    padding: 20px 0px;
    font-size: 10px;
}


// 두번째영역
.reservation_gray_bg{
    background-color: #ededed;
    padding-bottom: 100px;
}
.reservation_baggage_rule_box{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
}
.reservation_baggage{
    flex-grow: 2;
}
.reservation_rule{
    flex-grow: 1;
}
.reservation_icon_blue{
    color: #249ac2;
    margin-right: 5px;
}
.reservation_icon_deepblue{
    color: #084AFF;
    margin-right: 5px;
}
.reservation_icon_gray{
    color: #adadad;
    margin-right: 5px;
}
.reservation_icon_flex{
    display: flex;
    align-items: center;
}
.reservation_input_reset_btn{
    color: #084AFF;
    display: flex;
    align-items: center;
    gap: 5px;
}
.reservation_input_reset_btn:hover{
    cursor: pointer;
}
.reservation_passenger_box{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.reservation_spacebetween{
    display: flex;
    justify-content: space-between;
}
.reservation_placeholder{
    color: #ededed;
}
.reservation_input{
    border: 1px solid #ededed;
    outline: none;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}
.reservation_input select{
    border: none;
    outline: none;
}
.reservation_input legend{
    font-size: 12px;
    color: #4f4f4f;
}
.reservation_notification_box{
    border: 1px solid #ededed;
    background-color: #ededed;
    border-radius: 5px;
    padding: 5px;
}
.reservation_notification_box span{
    font-weight: 900;
}
.reservation_refund_box{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reservation_refund_area{
    font-size: 14px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reservation_refund_area span{
    font-weight: 900;
}
.reservation_insurance_area{
    font-size: 14px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 15px;
}
.reservation_insurance_small_msg{
    padding-left: 10px;
}
.reservation_contact_info_box{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    gap: 10px;
}
.reservation_next_btn_box{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    gap: 10px;
}
.reservation_next_btn_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reservation_next_btn{
    background-color: #084AFF;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}
.reservation_popover{
    position: absolute;
    left: -110px;
    top: 24px;
    border: 3px solid #ededed;
    padding: 10px;
    background-color: #ffffff;
    width: 260px;
    border-radius: 5px;
}
.reservation_success{
    border: 1px solid #084AFF;
}
.reservation_fail{
    border: 3px solid #ff0000;
}
.reservation_complete {
    width: 100%;
    padding-bottom: 50px;
    margin: 0px auto 30px auto;
}
.reservation_complete_icon{
    margin: 0 auto;
    color: #084AFF;
}
.reservation_cancel_icon{
    margin: 0 auto;
    color: #ff3e3e;
}
.reservation_complete_msg{
    padding: 20px 0 50px 0;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
@include mobile {
    .reservation_layout{
        width: 100vw;
        padding-bottom: 50px;
    }
    .reservation_header {
        width: 100%;
    }
    .reservation_progress_box{
        width: 75%;
    }
    .reservation_baggage_rule_box{
        gap: 10px;
        flex-direction: column;
    }
    .reservation_refund_area{
        padding: 5px;
        font-size: 12px;
        gap: 10px;
        flex-direction: column;
    }
    .reservation_title_1{
        font-size: 35px;
    }
    .reservation_to_tiket_info{
        font-size: 15px;
    }
    .reservation_to_tiket_title div:nth-child(1){
        font-size: 14px;
    }
    .reservation_to_tiket_title div:nth-child(2){
        font-size: 12px;
    }
    .reservation_to_tiket_title div:nth-child(3){
        font-size: 11px;
    }
    .reservation_icon_flex{
        align-items: flex-start 
    }
    .reservation_switch label{
        padding: 0;
        font-size: 11px;
    }
    .reservation_popover {
        position: absolute;
        left: -110px;
        top: 24px;
        border: 1px solid #dadada;
        padding: 10px;
        background-color: #f9f9f9;
        width: 260px;
        border-radius: 5px;
    }
}
    
@include tablet {
    .reservation_layout{
        width: 768px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .reservation_header {
        max-width: 750px;
    }
    .reservation_progress_box {
        width: 628px;
    }

}
    
@include desktop {
    .reservation_layout{
        width: 1000px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .reservation_header {
        max-width: 1000px;
    }
    .reservation_progress_box{
        width: 900px;
    }
}
