// 미디어쿼리 브레이크포인트 
$breakpoint-mobile: 335px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// ## 변수 저장용 scss ##
$layout-background-color: #ededed;
$layout-border-color: #a4a4a4;
$white: #fff;
$black: #000;
$main-font-color: #0B2161;
$logo-one-main-color: #0B4AFF;
$logo-two-main-color: #C5DFFF;
$main-background-color: #C5DFFF;
$admin-index-background-color: #EFF3F8;
$admin-font-color: #666666;