@import "../mixin";
input:focus{
    outline: none;
}
* {
    font-family: sans-serif;
}

.search_bg{
    padding: 10px 20px;
    width: 1000px;
    margin: 0 auto;
}
.search_menu{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.search_menu_top {
    height: 50px;
    display: flex;
    gap: 10px;
    position: absolute;
    top: -50px;
    left: -2.5px;
}
.search_menu_top2 {
    height: 50px;
    display: flex;
    gap: 10px;
    position: absolute;
    top: -60px;
    left: -17.5px;
}
.search_menu_top div{
    text-align: center;
    width: 150px;
    padding: 10px;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #0B2161;
    border: 3px solid #A4A4A4;
    border-bottom: none;
}
.search_menu_top2 div{
    text-align: center;
    width: 150px;
    padding: 10px;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #0B2161;
    border: 3px solid #A4A4A4;
    border-bottom: none;
}
.search_menu_bottom{
    width: 100%;
    background-color: $white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 3px solid #A4A4A4;
    position: relative;
}
.search_menu_recommend{
    display: flex;
    gap: 10px;
    height: 30px;
    position: relative;
}

.search_menu_recommend input{
    background-color: #EDEDED;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.search_menu_recommend button{
    background-color: #0B2161;
    color: $white;
    width: 130px;
    border-radius: 10px;
}

.search_menu_flight{
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 3fr 7fr;
    align-items: center;
    font-size: 15px;
    justify-items: center;
}
.search_menu_flight hr{
    border: none;
    height: 1.5px; 
    background-color: $black
}
.search_menu_flight_state{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 4fr;
    gap: 7px;
    font-weight: bold;
    align-items: center;
}
.search_menu_flight_state_text{
    padding: 0;
    cursor: pointer;
}
.search_menu_flight_state_line{
    line-height: 5px;
    border-top: 2px solid $black;
    width: 30px;
    margin: 11.5px;
}
.search_menu_flight_box{
    display: flex;
    background-color: $layout-background-color;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}
.search_menu_flight_box div:nth-child(1),
.search_menu_flight_box div:nth-child(3){
    padding: 0px 20px;
    cursor: pointer;
}
.search_menu_flight_box_line{
    border-right: 2px solid $black;
}

