@import "../mixin";
input:focus{
    outline: none;
}
* {
    font-family: sans-serif;
}

.search_bg{
    background-color: $layout-background-color;
    padding: 10px 20px;
}
.search_menu{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.search_menu_top{
    display: flex;
    gap: 10px;
}
.search_menu_top div{
    text-align: center;
    width: 150px;
    padding: 10px;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #0B2161;
}
.search_menu_bottom{
    background-color: $white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px;
}
.search_menu_recommend{
    display: flex;
    gap: 10px;
    height: 30px;
}

.search_menu_recommend input{
    background-color: #EDEDED;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.search_menu_recommend button{
    background-color: #0B2161;
    color: $white;
    width: 130px;
    border-radius: 10px;
}

.search_menu_flight{
    display: flex;
    gap: 30px;
    align-items: center;
}

.search_menu_flight_state{
    display: flex;
    text-align: center;
    font-weight: bold;
}
.search_menu_flight_state_text{
    padding: 0;
    cursor: pointer;
}
.search_menu_flight_state_line{
    line-height: 5px;
    border-top: 2px solid $black;
    width: 30px;
    margin: 11.5px;
}
.search_menu_flight_box{
    display: flex;
    background-color: $layout-background-color;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}
.search_menu_flight_box div:nth-child(1),
.search_menu_flight_box div:nth-child(3){
    padding: 0px 20px;
    cursor: pointer;
}
.search_menu_flight_box_line{
    border-right: 2px solid $black;
}

