// ******************** 현희_로그인모달 scss ***********************
/* VARIABLES */

$colors: (
    white: #FEFEFE,
    brown: #362100,
    blue: #2E9AFE,
);


/* BASE */

// body {
//   // color: map-get($colors, white);
//     font: 100 100%/1.6 "Heebo", sans-serif;
//     overflow-x: hidden;
//     width: 100%;
// }

.header_container {
    font: 100 100%/1.6 "Heebo", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flex {
    align-items: center;
  // display: flex;
    justify-content: center;
}

.scene {
  // background: map-get($colors, brown) url('https://picsum.photos/id/413/1920/1080') center/cover;
  // height: 100vh;
    position: relative;
}

.login_modal {
  // height: 400px;

    &_headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    &_text {
    font-size: 0.6rem;
    text-align: start;
    margin: 10px 0;

        &_login {
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

.modal-content {
  /* 기존 스타일 유지 */
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 투명도 추가 */
    display: flex;
    justify-content: center; /* 콘텐츠를 수평으로 가운데 정렬 */
    align-items: center; /* 콘텐츠를 수직으로 가운데 정렬 */
}

.card {
    backdrop-filter: blur(10px);
    // background: rgba(map-get($colors, blue), 0.075);
    // background: rgba(map-get($colors, blue), 1);
    background: #fff;
    border: 1px solid rgba(map-get($colors, white), 0.18);
    border-radius: 15px;
    box-shadow: 0 10px 35px 0 rgba(map-get($colors, brown), 0.65);
    // color: white;
    max-width: 300px;
    overflow: hidden;
    // padding: 20px 30px 50px 30px;
    padding: 50px;
    position: relative;
    text-align: center;
    z-index: 1;

    &__heading {
        font-size: 1.35rem;
        font-weight: 200;
        // margin-bottom: 15px;
        span {
        font-weight: bold;
        }
    }

    &__figure {
        height: auto;
        margin: 0 auto;
        max-width: 225px;
        width: 60%;
    }

    &__image {
        border-radius: 50%;
        max-width: 100%;
    }
    
    &__input {
        // background: rgba(map-get($colors, white), 0.075);
        background: rgb(217, 217, 217, 0.5);
        border: 1px solid rgba(map-get($colors, white), 0.3);
        border-radius: 3px;
        box-sizing: border-box;
        color: map-get($colors, white);
        display: block;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        // padding: 10px;
        width: 100%;

        &:focus,
        &:active {
        background: rgba(map-get($colors, white), 0.08);
        border: 1px solid rgba(map-get($colors, white), 0.75);
        outline: none;
        }
    }

    &__form_email {
        text-align: start;

        label {
        font-size: 10px;
        }
    }

    &__form_pw {
        text-align: start;

        label {
        font-size: 10px;
        }
    }

    &__button {
        // background: rgba(map-get($colors, white), 0.65);
        background-color: $logo-two-main-color;
        border: none;
        border-radius: 3px;
        color: #362100;
        margin: 15px auto 0 auto;
        padding: 3px 10px;
        font-size: 13px;

        &:focus,
        &:active {
        background: rgba(255, 255, 255, 0.75);
        outline: none;
        }
    }

    &__form_button {
        display: flex;
        justify-content: space-evenly;
    }

    &__social_btn {

        // background: rgba(map-get($colors, white), 0.075);
        // background-color: $logo-two-main-color;
        // border: 1px solid rgba(map-get($colors, white), 0.3);
        border-radius: 3px;
        box-sizing: border-box;
        color: map-get($colors, white);
        display: block;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        // padding: 10px;
        width: 100%;
        margin-top: 10px;
        display: flex;

        &:focus,
        &:active {
        background: rgba(map-get($colors, white), 0.08);
        border: 1px solid rgba(map-get($colors, white), 0.75);
        outline: none;
        }

        
    }
}

// 모달
.modal {
	background-color: rgba(0, 0, 0, 0.5); /* 배경에 어둡게 처리 */
}
