@import "../mixin";
// @import "../app.scss";

@include mobile {
    .background_body {
        background-color: $layout-background-color;
        padding: 10px 20px 5px 20px;

        .mypage_container {
            margin: 0 auto;

            .mypage_top_container {
                display: flex;
                flex-direction: column;
                margin: 10px auto;

                .mypage_top_tab_top_section {
                    display: flex;
                    gap: 10px;

                    .mypage_top_tab_top_area {
                        width: 150px;
                        padding: 10px;
                        background-color: $white;
                        border-radius: 10px 10px 0 0;
                        color: $main-font-color;
                        cursor: pointer;
                    }
                }

                .mypage_top_tab_bottom_section {
                    background-color: $white;
                    border-radius: 0 0 10px 10px;
                    padding: 5px 15px;

                    .mypage_top_tab_bottom_area {
                        height: 30px;
                    }
                }                
            }

            .mypage_bottom_container {
                margin: 10px auto;
                padding: 5px 15px;
                background-color: $white;
                border-radius: 10px;

                .mypage_user_info_data_container {
                    margin: 40px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mypage_user_info_title_section {
                        width: 250px;
                        background-color: $layout-background-color;
                        border-radius: 10px 0 0 10px;

                        .mypage_user_info_title_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 20px;
                            border-left: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;
                            
                            &:first-child {
                                border-top: 1px solid $layout-border-color;
                                border-radius: 10px 0 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 0 10px;
                            }

                            .mypage_user_info_title_area_span {
                                color: red;
                            }
                        }
                    }

                    .mypage_user_info_content_section {
                        width: 400px;

                        .mypage_user_info_content_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 30px;
                            border-right: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;

                            &:first-child {
                                border-top: 1px solid $layout-border-color;                                
                                border-radius: 0 10px 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 0;
                            }

                            .mypage_user_info_content_input {
                                width: 100%;
                                height: 30px;
                                padding: 0 10px;
                                background-color: transparent;

                                &:focus {
                                    transition: 0.5s;
                                    border-bottom: 3px solid $main-font-color;
                                }
                            }
                        }

                        .mypage_user_info_content_postcode_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 30px;
                            background-color: $white;
                            border-right: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;
                            display: flex;
                            gap: 20px;
                            align-items: center;

                            .mypage_user_info_content_input_postcode {
                                width: 50%;
                                height: 30px;
                                padding: 0 10px;
                                background-color: transparent;

                                &:focus {
                                    transition: 0.5s;
                                    border-bottom: 3px solid $main-font-color;
                                }    
                            }

                            .mypage_user_info_content_area_postcode_button {
                                width: 100px;
                                height: 40px;
                                line-height: 40px;
                                background-color: $main-font-color;
                                color: $white;
                                border-radius: 10px;

                                .mypage_user_info_content_postcode_button {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }                       
                }

                .mypage_user_info_button_container {

                    .mypage_user_info_button_section {
                    margin: 0 auto;
                    display: flex;
                    gap: 100px;
                    justify-content: center;
                    align-items: center;

                        .mypage_user_info_button_area {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $main-font-color;
                            color: $white;
                            border-radius: 10px;

                            .mypage_user_info_button {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                
                // ### clickTab = 1 ###
                .mypage_flight_info_data_container {
                    width: 100%;
                    margin: 40px auto;
                    padding: 5px 0;
                    display: flex;
                    flex-direction: column;

                    .mypage_flight_info_data_top_section {
                        display: flex;

                        .mypage_all_list_button,
                        .mypage_flight_button,
                        .mypage_hotel_button {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $main-font-color;
                            color: $white;
                            border-radius: 10px;
                        }                        
                    }

                    .mypage_flight_info_data_bottom_section {
                        display: none;
                    }

                    .mypage_flight_info_data_bottom_section_minsize {
                        padding: 20px;
                        background-color: $layout-background-color;
                        border-radius: 10px;

                        .mypage_flight_time_container {
                            width: 100%;
                        }

                        .mypage_flight_ticket_container {
                            width: 100%;
                            padding: 20px;
                            background-color: $white;
                            border-radius: 10px;
                        }

                        .mypage_flight_route_section {
                            width: 100%;

                            .mypage_flight_route_area {
                                width: 100%;
                                padding: 10px;
                                border: 1px solid $layout-border-color;
                                border-radius: 10px;
                                display: flex;
                                gap: 40px;
                                justify-content: center;
                                align-items: center;

                                .mypage_flight_route_departure_time,
                                .mypage_flight_route_arrival_time {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }

                        .mypage_flight_button_section {
                            display: flex;
                            gap: 100px;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_button_area {
                                width: 100px;
                                height: 40px;
                                
                                .mypage_flight_button {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 10px;
                                    background-color: $layout-background-color;
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}
    
@include tablet {
    .background_body {
        background-color: $layout-background-color;
        padding: 10px 20px 5px 20px;

        .mypage_container {
            margin: 0 auto;

            .mypage_top_container {
                display: flex;
                flex-direction: column;
                margin: 10px auto;

                .mypage_top_tab_top_section {
                    display: flex;
                    gap: 10px;

                    .mypage_top_tab_top_area {
                        width: 150px;
                        padding: 10px;
                        background-color: $white;
                        border-radius: 10px 10px 0 0;
                        color: $main-font-color;
                        cursor: pointer;
                    }
                }

                .mypage_top_tab_bottom_section {
                    background-color: $white;
                    border-radius: 0 0 10px 10px;
                    padding: 5px 15px;

                    .mypage_top_tab_bottom_area {
                        height: 30px;
                    }
                }                
            }

            .mypage_bottom_container {
                margin: 10px auto;
                padding: 5px 15px;
                background-color: $white;
                border-radius: 10px;

                // ### clickTab 0 ###
                .mypage_user_info_data_container {
                    margin: 40px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mypage_user_info_title_section {
                        width: 250px;
                        background-color: $layout-background-color;
                        border-radius: 10px 0 0 10px;

                        .mypage_user_info_title_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 20px;
                            border-left: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;
                            
                            &:first-child {
                                border-top: 1px solid $layout-border-color;
                                border-radius: 10px 0 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 0 10px;
                            }

                            .mypage_user_info_title_area_span {
                                color: red;
                            }
                        }
                    }

                    .mypage_user_info_content_section {
                        width: 400px;

                        .mypage_user_info_content_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 30px;
                            border-right: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;

                            &:first-child {
                                border-top: 1px solid $layout-border-color;                                
                                border-radius: 0 10px 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 0;
                            }

                            .mypage_user_info_content_input {
                                width: 100%;
                                height: 30px;
                                padding: 0 10px;
                                background-color: transparent;

                                &:focus {
                                    transition: 0.5s;
                                    border-bottom: 3px solid $main-font-color;
                                }                                
                            }
                        }

                        .mypage_user_info_content_postcode_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 30px;
                            background-color: $white;
                            border-right: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;
                            display: flex;
                            gap: 20px;
                            align-items: center;

                            .mypage_user_info_content_input_postcode {
                                width: 50%;
                                height: 30px;
                                padding: 0 10px;
                                background-color: transparent;

                                &:focus {
                                    transition: 0.5s;
                                    border-bottom: 3px solid $main-font-color;
                                }    
                            }

                            .mypage_user_info_content_area_postcode_button {
                                width: 100px;
                                height: 40px;
                                line-height: 40px;
                                background-color: $main-font-color;
                                color: $white;
                                border-radius: 10px;

                                .mypage_user_info_content_postcode_button {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }                       
                }

                .mypage_user_info_button_container {

                    .mypage_user_info_button_section {
                    margin: 0 auto;
                    display: flex;
                    gap: 100px;
                    justify-content: center;
                    align-items: center;

                        .mypage_user_info_button_area {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $main-font-color;
                            color: $white;
                            border-radius: 10px;

                            .mypage_user_info_button {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                
                // ### clickTab = 1 ###
                .mypage_flight_info_data_container {
                    width: 100%;
                    margin: 40px auto;
                    padding: 5px 15px;
                    display: flex;
                    flex-direction: column;

                    .mypage_flight_info_data_top_section {
                        display: flex;

                        .mypage_all_list_button,
                        .mypage_flight_button,
                        .mypage_hotel_button {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $main-font-color;
                            color: $white;
                            border-radius: 10px;
                        }                        
                    }

                    // mobile Size Display None
                    .mypage_flight_info_data_bottom_section_minsize {
                        display: none;
                    }

                    .mypage_flight_info_data_bottom_section {
                        padding: 20px;
                        background-color: $layout-background-color;
                        border-radius: 10px;
                        .mypage_flight_ticket_container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: $white;
                            border-radius: 10px;
                            box-shadow: 2px 2px 3px 0 gray;

                            .mypage_flight_airline_section {
                                width: 30%;
                                .mypage_flight_airline_departure_area,
                                .mypage_flight_airline_arrival_area {
                                    width: 100%;
                                    height: 150px;
                                    line-height: 150px;
                                }
                            }

                            .mypage_flight_route_section {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .mypage_flight_route_area {
                                    width: 300px;
                                    height: 100px;
                                    margin: 20px auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid $layout-background-color;
                                    border-radius: 5px;

                                    .mypage_flight_route_departure_time,
                                    .mypage_flight_route_arrival_time {
                                        width: 40%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    .mypage_flight_route_line_svg {
                                        width: 100px;
                                        height: 20px;
                                    }
                                }
                            }
                            .mypage_flight_line_section {
                                width: 1%;
                                height: 250px;
                                margin-left: 30px;
                                border-right: 1px solid $layout-background-color;
                            }
                            .mypage_flight_button_section {
                                width: 29%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .mypage_flight_button_area {
                                    width: 100px;
                                    height: 50px;
                                    
                                    .mypage_flight_button {
                                        width: 100%;
                                        height: 100%;
                                        background-color: $layout-background-color;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
}

@include desktop {
    .background_body {
        background-color: $layout-background-color;
        padding: 10px 20px 5px 20px;

        .mypage_container {
            margin: 0 auto;
            width: 70%;

            .mypage_top_container {
                display: flex;
                flex-direction: column;
                margin: 10px auto;

                .mypage_top_tab_top_section {
                    display: flex;
                    gap: 10px;

                    .mypage_top_tab_top_area {
                        width: 150px;
                        padding: 10px;
                        background-color: $white;
                        border-radius: 10px 10px 0 0;
                        color: $main-font-color;
                        cursor: pointer;
                    }
                }

                .mypage_top_tab_bottom_section {
                    background-color: $white;
                    border-radius: 0 0 10px 10px;
                    padding: 5px 15px;

                    .mypage_top_tab_bottom_area {
                        height: 30px;
                    }
                }                
            }

            .mypage_bottom_container {
                margin: 10px auto;
                padding: 5px 15px;
                background-color: $white;
                border-radius: 10px;

                // ### clickTab 0 ###
                .mypage_user_info_data_container {
                    margin: 40px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mypage_user_info_title_section {
                        width: 250px;
                        background-color: $layout-background-color;
                        border-radius: 10px 0 0 10px;

                        .mypage_user_info_title_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 20px;
                            border-left: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;
                            
                            &:first-child {
                                border-top: 1px solid $layout-border-color;
                                border-radius: 10px 0 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 0 10px;
                            }

                            .mypage_user_info_title_area_span {
                                color: red;
                            }
                        }
                    }

                    .mypage_user_info_content_section {
                        width: 400px;

                        .mypage_user_info_content_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 30px;
                            border-right: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;

                            &:first-child {
                                border-top: 1px solid $layout-border-color;                                
                                border-radius: 0 10px 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 0;
                            }

                            .mypage_user_info_content_input {
                                width: 100%;
                                height: 30px;
                                padding: 0 10px;
                                background-color: transparent;

                                &:focus {
                                    transition: 0.5s;
                                    border-bottom: 3px solid $main-font-color;
                                }                                
                            }
                        }

                        .mypage_user_info_content_postcode_area {
                            height: 70px;
                            line-height: 70px;
                            margin: 0 auto;
                            padding: 0 30px;
                            background-color: $white;
                            border-right: 1px solid $layout-border-color;
                            border-bottom: 1px solid $layout-border-color;
                            display: flex;
                            gap: 20px;
                            align-items: center;

                            .mypage_user_info_content_input_postcode {
                                width: 50%;
                                height: 30px;
                                padding: 0 10px;
                                background-color: transparent;

                                &:focus {
                                    transition: 0.5s;
                                    border-bottom: 3px solid $main-font-color;
                                }    
                            }

                            .mypage_user_info_content_area_postcode_button {
                                width: 100px;
                                height: 40px;
                                line-height: 40px;
                                background-color: $main-font-color;
                                color: $white;
                                border-radius: 10px;

                                .mypage_user_info_content_postcode_button {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }                       
                }

                .mypage_user_info_button_container {

                    .mypage_user_info_button_section {
                    margin: 0 auto;
                    display: flex;
                    gap: 100px;
                    justify-content: center;
                    align-items: center;

                        .mypage_user_info_button_area {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $main-font-color;
                            color: $white;
                            border-radius: 10px;

                            .mypage_user_info_button {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .mypage_user_info_button_withdrawal {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $layout-border-color;
                            color: $white;
                            border-radius: 10px;
                        }
                    }
                }
                
                .mypage_user_info_content_input::placeholder {
                    font-size: 14px;
                }

                // ### clickTab = 1 ###
                .mypage_flight_info_data_container {
                    width: 900px;
                    margin: 40px auto;
                    padding: 5px 15px;
                    display: flex;
                    flex-direction: column;

                    .mypage_flight_info_data_top_section {
                        display: flex;

                        .mypage_all_list_button,
                        .mypage_flight_button,
                        .mypage_hotel_button {
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            background-color: $main-font-color;
                            color: $white;
                            border-radius: 10px;
                        }                        
                    }

                    // mobile Size Display None
                    .mypage_flight_info_data_bottom_section_minsize {
                        display: none;
                    }

                    .mypage_flight_info_data_bottom_section {
                        padding: 20px;
                        background-color: $layout-background-color;
                        border-radius: 10px;
                        .mypage_flight_ticket_container {
                            display: flex;
                            justify-content: space-between;
                            background-color: $white;
                            border-radius: 10px;
                            box-shadow: 2px 2px 3px 0 gray;

                            .mypage_flight_airline_section {
                                width: 30%;
                                .mypage_flight_airline_departure_area,
                                .mypage_flight_airline_arrival_area {
                                    height: 150px;
                                    line-height: 150px;
                                }
                            }

                            .mypage_flight_route_section {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .mypage_flight_route_area {
                                    width: 100%;
                                    height: 100px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid $layout-background-color;
                                    border-radius: 5px;

                                    .mypage_flight_route_departure_time,
                                    .mypage_flight_route_arrival_time {
                                        width: 40%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    .mypage_flight_route_line_svg {
                                        width: 100px;
                                        height: 20px;
                                    }
                                }
                            }
                            .mypage_flight_line_section {
                                width: 1%;
                                height: 250px;
                                margin-left: 30px;
                                border-right: 1px solid $layout-background-color;
                            }
                            .mypage_flight_button_section {
                                width: 29%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .mypage_flight_button_area {
                                    width: 100px;
                                    height: 50px;
                                    
                                    .mypage_flight_button {
                                        width: 100%;
                                        height: 100%;
                                        background-color: $layout-background-color;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                    }
                }    
            }
        }
    }
}
