@import "../mixin";
// @import "../app.scss";

@include mobile {
    .mypage_container {
        width: 95%;
        margin: 0 auto; 

        .mypage_layout_container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .mypage_user_left_info_section {
                width: 20%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $layout-background-color;

                .mypage_left_container {
                    width: 100%;                
                    padding: 20px;           

                    .mypage_left_user_info_section {
                        width: 100%;
                        height: 200px;
                        display: flex;
                        flex-direction: column;       
                        justify-content: center;
                    }

                    .mypage_left_tab_section {
                        width: 100%;
                        height: 100px;
                        display: flex;
                        flex-direction: column;       
                        justify-content: center;
                        align-items: center;

                        li {
                            list-style-type: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            // ### clickTab = 0 ###
            .mypage_right_user_info_section {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .mypage_right_top_container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mypage_middle_container {
                        width: 30%;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
    
                        .mypage_middle_user_data_title_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;
                            border: 1px solid $layout-background-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .mypage_middle_user_data_title_span {
                                color: red;
                            }
                        }
                    }

                    .mypage_right_container {
                        width: 70%;
                        padding: 20px 20px 20px 0;
                        display: flex;
                        flex-direction: column;
    
                        .mypage_right_user_data_content_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;
                            border: 1px solid $layout-background-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .mypage_right_user_data_content_input {
                                width: 100%;
                                height: 100%;
                                padding: 20px;
                                border-radius: 10px;
    
                                &:focus {
                                    outline: none;
                                }
                            }                    
                        }
    
                        .mypage_right_user_data_content_postcode_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;                    
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            .mypage_right_user_data_content_input_postcode {
                                width: 60%;
                                height: 100%;
                                padding: 20px;
                                border: 1px solid $layout-background-color;
                                border-radius: 10px;
    
                                &:focus {
                                    outline: none;
                                }
                            }     
    
                            .mypage_right_user_data_content_postcode_button_area {
                                width: 30%;
                                height: 50px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border: 1px solid $layout-background-color;
                                border-radius: 10px;
    
                                .mypage_right_user_data_content_postcode_button {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .mypage_right_bottom_container {
                    width: 100%;

                    .mypage_button_container {
                        width: 100%;
                        margin: 20px 0 40px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        .mypage_button_section {
                            width: 100px;
                            height: 50px;
                            line-height: 50px;
                            border: 1px solid $main-background-color;
                            border-radius: 10px;
        
                            .mypage_update_button,
                            .mypage_cancel_button {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            // ### clickTab = 1 ###
            .mypage_right_user_info_section_tab1 {
                width: 80%;
                display: flex;
                flex-direction: column;

                .mypage_right_top_container_tab1 {
                    width: 100%;
                    display: flex;

                    .mypage_all_list_button,
                    .mypage_flight_button,
                    .mypage_hotel_button {
                        width: 60px;
                        height: 30px;
                        line-height: 30px;
                        border: 1px solid $black;
                        border-radius: 5px;
                    }
                    
                }

                .mypage_right_bottom_container_tab1 {
                    width: 100%;
                    padding: 20px;
                    background-color: $layout-background-color;

                    .mypage_flight_container {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $white;
                        box-shadow: 2px 2px 3px 0 gray;

                        .mypage_flight_left_section {
                            width: 20%;

                            .mypage_flight_middle_departure_airline_area,
                            .mypage_flight_middle_arrival_airline_area {
                                width: 100%;
                                height: 150px;
                                line-height: 150px;
                            }
                        }

                        .mypage_flight_middle_section {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_middle_ticket_info_area {
                                width: 100%;
                                height: 100px;
                                margin: 20px auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $layout-background-color;
                                border-radius: 5px;

                                .mypage_flight_middle_ticket_info_departure_time,
                                .mypage_flight_middle_ticket_info_arrival_time {
                                    width: 40%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .mypage_flight_middle_ticket_info_line_svg {
                                    width: 100px;
                                    height: 20px;
                                }
                            }
                        }

                        .mypage_flight_line_section {
                            width: 1%;
                            height: 250px;
                            margin-left: 30px;
                            border-right: 1px solid $layout-background-color;
                        }

                        .mypage_flight_right_section {
                            width: 29%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_button_area {
                                width: 100px;
                                height: 50px;
                                
                                .mypage_flight_button {
                                    width: 100%;
                                    height: 100%;
                                    background-color: $layout-background-color;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }            
    }
}
    
@include tablet {
    .mypage_container {
        width: 95%;
        margin: 0 auto; 

        .mypage_layout_container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .mypage_user_left_info_section {
                width: 20%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $layout-background-color;

                .mypage_left_container {
                    width: 100%;                
                    padding: 20px;           

                    .mypage_left_user_info_section {
                        width: 100%;
                        height: 200px;
                        display: flex;
                        flex-direction: column;       
                        justify-content: center;
                    }

                    .mypage_left_tab_section {
                        width: 100%;
                        height: 100px;
                        display: flex;
                        flex-direction: column;       
                        justify-content: center;
                        align-items: center;

                        li {
                            list-style-type: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            // ### clickTab = 0 ###
            .mypage_right_user_info_section {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .mypage_right_top_container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mypage_middle_container {
                        width: 30%;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
    
                        .mypage_middle_user_data_title_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;
                            border: 1px solid $layout-background-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .mypage_middle_user_data_title_span {
                                color: red;
                            }
                        }
                    }

                    .mypage_right_container {
                        width: 70%;
                        padding: 20px 20px 20px 0;
                        display: flex;
                        flex-direction: column;
    
                        .mypage_right_user_data_content_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;
                            border: 1px solid $layout-background-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .mypage_right_user_data_content_input {
                                width: 100%;
                                height: 100%;
                                padding: 20px;
                                border-radius: 10px;
    
                                &:focus {
                                    outline: none;
                                }
                            }                    
                        }
    
                        .mypage_right_user_data_content_postcode_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;                    
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            .mypage_right_user_data_content_input_postcode {
                                width: 60%;
                                height: 100%;
                                padding: 20px;
                                border: 1px solid $layout-background-color;
                                border-radius: 10px;
    
                                &:focus {
                                    outline: none;
                                }
                            }     
    
                            .mypage_right_user_data_content_postcode_button_area {
                                width: 30%;
                                height: 50px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border: 1px solid $layout-background-color;
                                border-radius: 10px;
    
                                .mypage_right_user_data_content_postcode_button {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .mypage_right_bottom_container {
                    width: 100%;

                    .mypage_button_container {
                        width: 100%;
                        margin: 20px 0 40px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        .mypage_button_section {
                            width: 100px;
                            height: 50px;
                            line-height: 50px;
                            border: 1px solid $main-background-color;
                            border-radius: 10px;
        
                            .mypage_update_button,
                            .mypage_cancel_button {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            // ### clickTab = 1 ###
            .mypage_right_user_info_section_tab1 {
                width: 80%;
                display: flex;
                flex-direction: column;

                .mypage_right_top_container_tab1 {
                    width: 100%;
                    display: flex;

                    .mypage_all_list_button,
                    .mypage_flight_button,
                    .mypage_hotel_button {
                        width: 60px;
                        height: 30px;
                        line-height: 30px;
                        border: 1px solid $black;
                        border-radius: 5px;
                    }
                    
                }

                .mypage_right_bottom_container_tab1 {
                    width: 100%;
                    padding: 20px;
                    background-color: $layout-background-color;

                    .mypage_flight_container {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $white;
                        box-shadow: 2px 2px 3px 0 gray;

                        .mypage_flight_left_section {
                            width: 20%;

                            .mypage_flight_middle_departure_airline_area,
                            .mypage_flight_middle_arrival_airline_area {
                                width: 100%;
                                height: 150px;
                                line-height: 150px;
                            }
                        }

                        .mypage_flight_middle_section {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_middle_ticket_info_area {
                                width: 100%;
                                height: 100px;
                                margin: 20px auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $layout-background-color;
                                border-radius: 5px;

                                .mypage_flight_middle_ticket_info_departure_time,
                                .mypage_flight_middle_ticket_info_arrival_time {
                                    width: 40%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .mypage_flight_middle_ticket_info_line_svg {
                                    width: 100px;
                                    height: 20px;
                                }
                            }
                        }

                        .mypage_flight_line_section {
                            width: 1%;
                            height: 250px;
                            margin-left: 30px;
                            border-right: 1px solid $layout-background-color;
                        }

                        .mypage_flight_right_section {
                            width: 29%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_button_area {
                                width: 100px;
                                height: 50px;
                                
                                .mypage_flight_button {
                                    width: 100%;
                                    height: 100%;
                                    background-color: $layout-background-color;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }            
    }
}

@include desktop {
    .mypage_container {
        width: 1020px;
        margin: 0 auto; 

        .mypage_layout_container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .mypage_user_left_info_section {
                width: 20%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $layout-background-color;

                .mypage_left_container {
                    width: 100%;                
                    padding: 20px;           

                    .mypage_left_user_info_section {
                        width: 100%;
                        height: 200px;
                        display: flex;
                        flex-direction: column;       
                        justify-content: center;
                    }

                    .mypage_left_tab_section {
                        width: 100%;
                        height: 100px;
                        display: flex;
                        flex-direction: column;       
                        justify-content: center;
                        align-items: center;

                        li {
                            list-style-type: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            // ### clickTab = 0 ###
            .mypage_right_user_info_section {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .mypage_right_top_container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mypage_middle_container {
                        width: 30%;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
    
                        .mypage_middle_user_data_title_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;
                            border: 1px solid $layout-background-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .mypage_middle_user_data_title_span {
                                color: red;
                            }
                        }
                    }

                    .mypage_right_container {
                        width: 70%;
                        padding: 20px 20px 20px 0;
                        display: flex;
                        flex-direction: column;
    
                        .mypage_right_user_data_content_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;
                            border: 1px solid $layout-background-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .mypage_right_user_data_content_input {
                                width: 100%;
                                height: 100%;
                                padding: 20px;
                                border-radius: 10px;
    
                                &:focus {
                                    outline: none;
                                }
                            }                    
                        }
    
                        .mypage_right_user_data_content_postcode_section {
                            width: 100%;
                            height: 50px;
                            margin: 10px auto;                    
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            .mypage_right_user_data_content_input_postcode {
                                width: 60%;
                                height: 100%;
                                padding: 20px;
                                border: 1px solid $layout-background-color;
                                border-radius: 10px;
    
                                &:focus {
                                    outline: none;
                                }
                            }     
    
                            .mypage_right_user_data_content_postcode_button_area {
                                width: 30%;
                                height: 50px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border: 1px solid $layout-background-color;
                                border-radius: 10px;
    
                                .mypage_right_user_data_content_postcode_button {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .mypage_right_bottom_container {
                    width: 100%;

                    .mypage_button_container {
                        width: 100%;
                        margin: 20px 0 40px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        .mypage_button_section {
                            width: 100px;
                            height: 50px;
                            line-height: 50px;
                            border: 1px solid $main-background-color;
                            border-radius: 10px;
        
                            .mypage_update_button,
                            .mypage_cancel_button {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            // ### clickTab = 1 ###
            .mypage_right_user_info_section_tab1 {
                width: 80%;
                display: flex;
                flex-direction: column;

                .mypage_right_top_container_tab1 {
                    width: 100%;
                    display: flex;

                    .mypage_all_list_button,
                    .mypage_flight_button,
                    .mypage_hotel_button {
                        width: 60px;
                        height: 30px;
                        line-height: 30px;
                        border: 1px solid $black;
                        border-radius: 5px;
                    }
                    
                }

                .mypage_right_bottom_container_tab1 {
                    width: 100%;
                    padding: 20px;
                    background-color: $layout-background-color;

                    .mypage_flight_container {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $white;
                        box-shadow: 2px 2px 3px 0 gray;

                        .mypage_flight_left_section {
                            width: 20%;

                            .mypage_flight_middle_departure_airline_area,
                            .mypage_flight_middle_arrival_airline_area {
                                width: 100%;
                                height: 150px;
                                line-height: 150px;
                            }
                        }

                        .mypage_flight_middle_section {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_middle_ticket_info_area {
                                width: 100%;
                                height: 100px;
                                margin: 20px auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $layout-background-color;
                                border-radius: 5px;

                                .mypage_flight_middle_ticket_info_departure_time,
                                .mypage_flight_middle_ticket_info_arrival_time {
                                    width: 40%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .mypage_flight_middle_ticket_info_line_svg {
                                    width: 100px;
                                    height: 20px;
                                }
                            }
                        }

                        .mypage_flight_line_section {
                            width: 1%;
                            height: 250px;
                            margin-left: 30px;
                            border-right: 1px solid $layout-background-color;
                        }

                        .mypage_flight_right_section {
                            width: 29%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .mypage_flight_button_area {
                                width: 100px;
                                height: 50px;
                                
                                .mypage_flight_button {
                                    width: 100%;
                                    height: 100%;
                                    background-color: $layout-background-color;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }            
    }
}
