@import "../mixin";
// @import "../app.scss";

@include desktop {
    .mypage_container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        text-align: center;
    }

    // 사이드 메뉴
    .mypage_side_view {
        width: 20%;
        margin-right: 10px;
        background-color: #ededed;
        // text-align: center;
        display: grid;
        align-items: center;
        align-content: space-evenly;

        li {
            // line-height: 20vh;
            cursor: pointer;
        }

        &_user_info {
            padding: 10px;

            &_name {

                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }

            &_email {

                span {
                    font-size: 0.9rem;
                }
            }
        }

        &_tab {

            &_list {
                list-style: none;
                display: grid;
                grid-template-columns: 1fr; /* 한 열에 하나의 아이템 */
                gap: 50px;
                font-weight: 600;
                color: $main-font-color;
            }
        }
    }

    // 메인 컨텐츠
    .mypage_main_view {
        width: 80%;
        margin: auto 0;
        // background-color: #ededed;

        &_tab {

        }

        &_user_info_box {

            &_content {
                display: flex;
                align-items: center;
                padding: 10px;

                &_label {
                    border: 1px solid #ededed;
                    border-radius: 5px;
                    padding: 10px;
                    // margin: auto 0;
                    width: 30%;
                }

                &_input {
                    margin: auto;
                    padding: 10px;
                    border: 1px solid #ededed;
                    border-radius: 5px;
                    width: 60%;

                    input {
                        width: 100%;
                    }

                    :focus {
                        outline: none;
                        border: none;
                    }
                }

                &_span {
                    margin: auto;
                    padding: 10px;
                    border: 1px solid #ededed;
                    border-radius: 5px;
                    width: 60%;
                }

                &_postcode_div {
                    display: flex;
                    // text-align: center;
                    width: 80%;
                    margin: auto 0;

                    &_label {
                        border: 1px solid #ededed;
                        border-radius: 5px;
                        padding: 10px;
                    }

                    &_input {
                        margin: auto;
                        padding: 10px;
                        border: 1px solid #ededed;
                        border-radius: 5px;
                        width: 30%;

                        input {
                            width: 100%;
                        }
    
                        :focus {
                            outline: none;
                            border: none;
                        }
                    }

                    &_input2 {
                        margin: auto;
                        padding: 10px;
                        border: 1px solid #ededed;
                        border-radius: 5px;
                        width: 60%;

                        input {
                            width: 100%;
                        }
    
                        :focus {
                            outline: none;
                            border: none;
                        }
                    }
                }
            }

        }
    }
}

