@import "../mixin";

.admin_management_container {
    width: 80%;
    height: 100vh;
    margin: 0px auto;
    padding: 10px;
    color: $admin-font-color;

    .admin_management_top_container {
        width: 100%;
        margin: 10px auto;
        background-color: #fff;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;

        .admin_management_top_title_section {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .admin_management_middle_container {
        width: 100%;
        margin: 10px auto;
        background-color: #fff;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;

        .admin_management_middle_section {
            width: 100%;
            display: flex;
            align-items: center;

            .admin_management_select {                                  
                margin-right: 100px;

                &:focus {
                    outline: none;
                }
            }

            .admin_management_pagination_section {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                .admin_management_pagination_page_span_area {
                    width: 250px;
                    position: relative;
                    
                    .admin_management_pagination_page_span {
                        width: 100%;
                    }
                }

                .admin_management_pagination_left_button_area {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 30%;
                    
                    .admin_management_pagination_first_button_area,
                    .admin_management_pagination_prev_button_area {
                        width: 80px;
                        height: 40px;
                        line-height: 40px;
                        z-index: 9999;

                        .admin_management_pagination_first_button,
                        .admin_management_pagination_prev_button {
                            width: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $main-font-color;
                            color: #fff;
                            border-radius: 10px;

                            &:hover {
                                opacity: 0.8;
                                transition: 0.5s;
                            }
                        }
                    }
                }

                .admin_management_pagination_right_button_area {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 30%;

                    .admin_management_pagination_next_button_area,
                    .admin_management_pagination_last_button_area {
                        width: 80px;
                        height: 40px;
                        line-height: 40px;

                        .admin_management_pagination_next_button,
                        .admin_management_pagination_last_button {
                            width: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $main-font-color;
                            color: #fff;
                            border-radius: 10px;

                            &:hover {
                                opacity: 0.8;
                                transition: 0.5s;
                            }
                        }
                    }
                }                
            }
        }
    }

    .admin_management_bottom_container {
        width: 100%;

        .admin_management_bottom_title_ul {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .admin_management_bottom_title_li {
                &:not(:nth-child(3)) {
                    width: 100px;
                }
                
                &:nth-child(3) {
                    width: 200px;
                }
            } 
        }
        .admin_management_bottom_content_ul {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .admin_management_bottom_content_li {
                &:not(:nth-child(3)) {
                    width: 100px;
                }
                
                &:nth-child(3) {
                    width: 200px;
                }

                .admin_management_bottom_content_update_button,
                .admin_management_bottom_content_withdrawal_button {
                    width: 80px;
                    height: 24px;
                    line-height: 24px;
                    background-color: $main-font-color;
                    color: #fff;
                    border-radius: 10px;

                    &:hover {
                        opacity: 0.8;
                        transition: 0.5s;
                    }
                }                
            } 
        }            
    }
}