@import "../mixin";

.admin_user_management_container {
    width: 1300px;
    height: 100vh;
    margin: 0 auto;
    color: $admin-font-color;

    .admin_user_management_top_container {
        width: 100%;
        margin: 10px auto;
        background-color: #fff;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;

        .admin_user_management_top_title_section {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .admin_user_management_middle_container {
        width: 100%;
        margin: 10px auto;
        background-color: #fff;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;

        .admin_user_management_middle_section {
            width: 100%;
            display: flex;
            align-items: center;

            .admin_user_management_select {                
                border: 1px solid #000;                                
                margin-right: 100px;
            }

            .admin_user_management_pagination_section {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                .admin_user_management_pagination_page_span_area {
                    width: 250px;
                    position: relative;
                    
                    .admin_user_management_pagination_page_span {
                        width: 100%;
                    }
                }

                .admin_user_management_pagination_left_button_area {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 30%;
                    
                    .admin_user_management_pagination_first_button_area,
                    .admin_user_management_pagination_prev_button_area {
                        width: 80px;
                        height: 40px;
                        line-height: 40px;

                        .admin_user_management_pagination_first_button,
                        .admin_user_management_pagination_prev_button {
                            width: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $main-font-color;
                            color: #fff;
                            border-radius: 10px;

                            &:hover {
                                opacity: 0.8;
                                transition: 0.5s;
                            }
                        }
                    }
                }

                .admin_user_management_pagination_right_button_area {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 30%;

                    .admin_user_management_pagination_next_button_area,
                    .admin_user_management_pagination_last_button_area {
                        width: 80px;
                        height: 40px;
                        line-height: 40px;

                        .admin_user_management_pagination_next_button,
                        .admin_user_management_pagination_last_button {
                            width: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $main-font-color;
                            color: #fff;
                            border-radius: 10px;

                            &:hover {
                                opacity: 0.8;
                                transition: 0.5s;
                            }
                        }
                    }
                }                
            }
        }
    }

    .admin_user_management_bottom_container {
        width: 100%;

        .admin_user_management_bottom_title_ul {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .admin_user_management_bottom_title_li {
                &:nth-child(1),
                &:nth-child(5),
                &:nth-child(6) {
                    width: 100px;
                }

                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(8) {
                    width: 160px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 200px;
                }
            } 
        }
        .admin_user_management_bottom_content_ul {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
                
            &:hover {
                background-color: $main-font-color;
                color: #fff;
                text-decoration: underline;
            }

            .admin_user_management_bottom_content_li {
                &:nth-child(1),
                &:nth-child(5),
                &:nth-child(6) {
                    width: 100px;
                }

                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(8) {
                    width: 160px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 200px;
                }
            } 
        }            
    }
}